# Ignore directories for building the code.
[Bb]uild/*
[Bb]uild-*/*

# Ignore error files and log files.
*.err
*.log

# Ignore files regarding documentation
## Ignore folders created by documentation tool.
doc/html/
doc/latex/

## Ignore files that are created by the make process.
*.pdf
*.dvi
*.ps

## Ignore latex files
*.aux
*.bbl
*.bcf
*.blg
*.brf
*.idx
*.ilg
*.ind
*.toc

# Ignore backup files
*~
*.swp

# Ignore object files
*.mod
*.o
*.so
*.x
_*.c
__pycache__

# IDE files
.vscode/
