# Ignore directories for building the code.
[Bb]uild/*
[Bb]uild-*/*
# Build directories of tools.
*/*/[Bb]uild/*
*/*/[Bb]uild-*/*

# Ignore error files and log files.
*.err
*.log

# Ignore files regarding documentation
## Ignore folders created by documentation tool.
doc/html/
doc/latex/

## Ignore files that are created by the make process.
*.pdf
*.dvi
*.ps

## Ignore latex files
*.aux
*.bbl
*.bcf
*.blg
*.brf
*.idx
*.ilg
*.ind
*.toc

# Ignore backup files
*~
*.swp

# Ignore object files
*.mod
*.o
*.so
*.x
_*.c
__pycache__

# IDE files
.vscode/

# Ignore macOS system files
.DS_Store

# Ignore files created by the python build system
python/build/
*.egg-info/
amat.dat
bvec.dat
mmat.dat
xsol.dat
yvec.dat
include/
lib/
.venv
dist/
test/**/*.png
version.f90
Testing/Temporary/CTestCostData.txt
